<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Befriend</title>
  <link rel="shortcut icon" href="/assets/img/logo-01.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>
</head>
<body>
<% unless session[:user] %>
 <header class="nav-headder">
   <nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <a class="navbar-brand" href="/">
     <img src="/assets/img/Befriend_logo.png" height="60" class="d-inline-block align-top" alt="logo">
  </a>

  <div class="nav-headder collapse navbar-collapse justify-content-end" id="nav-headder">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
   <li class="nav-item">
    <a class="nav-link active" href="/signin">ログイン</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/signup">新規登録</a>
  </li>
    </ul>
 </div>
 </nav>
 </header>
   <main>
    <div class="container">
        
      <div class="alert alert-warning" style="margin-top: 1.5em;">
          <p id="login">ログインが必要です</p>
      </div>
  
    <%= yield %>
    
     </div>
  </main>
 <% else %>
 <header class="nav-headder">
   <nav class="navbar navbar-expand-lg navbar-light" id="nav-headder">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <a class="navbar-brand" href="/">
    <img src="/assets/img/Befriend_logo.png" width="150" height="60" class="d-inline-block align-top" alt="logo">
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
   <li class="nav-item">
    <a class="nav-link" href="/signout">ログアウト</a>
  </li>
</ul>
</div>
</nav>
  </header>
  <main>

    <%= yield %>
 
  </main>
  <% end %> 
 <footer>
</body>
</html>