<div class="container">
<h2>ログイン</h2>
<form action="/signin" method="post">
    <input type="text" class="form-control" name="mail" placeholder="Eメール"><br>
    <input type="password" class="form-control" name="password" placeholder="パスワード"><br>
    <button type="submit" class="btn btn-lg btn-warning">ログイン</button>
</form>
</div>